@use '../base/variables' as v;
@use '../base/mixins' as m;

.header {
    background-color: v.$verde;

    .contenido-header {
        padding: calc( 5rem - 3rem) 0;

        @include m.tablet{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    h1 {
        color: v.$blanco;
        margin-bottom: 1rem;
        @include m.tablet {
            margin-bottom: 0;
        }
    }
}
.navegacion-principal{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    justify-content: center;

    a{
        color: v.$blanco;
        font-size: 2rem;
        &:hover{
            color: v.$amarillo;
        }
    }
}